
config HAS_PASSTHROUGH
	bool

if ARM
config ARM_SMMU
	bool "ARM SMMUv1 and v2 driver"
	default y
	---help---
	  Support for implementations of the ARM System MMU architecture
	  versions 1 and 2.

	  Say Y here if your SoC includes an IOMMU device implementing the
	  ARM SMMU architecture.

config RCAR_IPMMU
	bool "Renesas IPMMU found in RCAR SoCs"
	default y
	---help---
	  Support for implementations of the Renesas IPMMU found in RCAR SoCs.

	  Say Y here if you are using Renesas RCAR SoC.

config RCAR_IPMMU_PGT_IS_SHARED
	bool "Renesas R-Car's IPMMU shared page tables support"
	depends on HAS_PASSTHROUGH && ARM_64 && RCAR_IPMMU
	default y
	help
	  Enable this for Renesas R-Car's H3 v3.0 and M3N boards
	  which have the IPMMU that does handle stage 2 translation
	  table format and as the result is able to share P2M with the CPU.

endif

